PORT=4000
DATABASE=mongodb://localhost:27017/cryptosavvy
JWT_SECRET=your_jwt_secret
JWT_COOKIE_EXPIRES_IN=90
JWT_EXPIRES_IN=90d
NODE_ENV=development

# APIs
GNEWS_API_KEY=your_gnews_api_key
GEMINI_API_KEY=your_gemini_api_key
API_KEY=your_apify_api_key
